.text-base-buttons-container {
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: stretch;
  margin-bottom: 30px;
}

.text-base-buttons-group {
  flex: 1;
  /* Makes each box take equal space */
  max-width: 30%;
  /* Controls width */
  padding: 10px;
  background: #f9f9f9;
  border-radius: 10px;
  border: 1px solid #ddd;
  box-shadow: 3px 4px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  /* Centers content */
  justify-content: center;
}

.text-base-buttons-group:first-child {
  margin-left: 40px;
  margin-right: 20px;
  overflow-x: hidden;
}

.text-base-buttons-group:last-child {
  margin-left: 20px;
  margin-right: 40px;
  overflow-x: hidden;
}

.text-base-buttons-subgroup {
  width: 80%;
  margin: 0px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
  justify-content: space-between;
  margin-top: 0px;
}

.text-input-group {
  display: flex;
  justify-content: center; 
  align-items: center; /* centers vertically within the line */
  font-weight: bold;
  color: #333;
  margin: 20px auto; /* centers within parent */
  width: fit-content; /* shrinks to content width */
  gap: 20px; 
}

/* Input field styling */
.text-input {
  width: 50%;
  padding: 10px;
  margin: 0px 5px 0px 5px;
  font-size: 16px;
  border: 2px solid #2b5b88;
  border-radius: 5px;
  outline: none;
  transition: all 0.3s ease-in-out;
}

/* Input field focus effect */
.text-input:focus {
  border-color: #611616;
  box-shadow: 0px 0px 5px rgba(0, 123, 255, 0.5);
}

.text-base-button {
  margin: 0px;
  font-size: 15px;
  margin-left: 5px;
  margin-right: 10px;
  margin-bottom: 10px;
  border: 1px solid #cfcbcb;
  border-radius: 4px;
  cursor: pointer;
  background-color: #f7f4f4;
  font-family: 'Courier New', Courier, monospace;
  color: black;
  transition: background-color 0.3s;
  justify-content: space-between;
}

.text-base-button:hover {
  background-color: #e9e0e0;
}

.clear-text-base-button {
  margin: 0px;
  font-size: 15px;
  margin-left: 5px;
  margin-right: 10px;
  margin-bottom: 10px;
  border: 1px solid #cfcbcb;
  border-radius: 4px;
  cursor: pointer;
  background-color: #458bcc;
  font-family: 'Courier New', Courier, monospace;
  color: rgb(255, 255, 255);
  transition: background-color 0.3s;
  justify-content: space-between;
}

.clear-text-base-button:hover {
  background-color: #f07d7b;
}