.compare-xml-group {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 20px;
}

.compare-xml-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex: 1; 
}

.compare-xml-container:first-child {
  margin-left: 10px; 
  margin-right: 10px;
  overflow-x:hidden;
}

.compare-xml-container:last-child {
  margin-left: 10px; 
  margin-right: 10px;
  overflow-x:hidden;
}

.scroll-container {
  max-height: 300px;
  overflow-y: auto;
  width: 100%;
  padding: 10px;
  margin: 10px;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
}

.compare-xml-html{
  width: 100%; 
  flex: 1; 
  font-family: 'Courier New', Courier, monospace;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 10px;
  background-color: #f7f4f4;
  overflow-y: auto;
  white-space: pre-wrap;
  text-align: left;       /* 👈 aligns text to the left */
  display: block;         /* 👈 ensures normal flow */
  align-items: flex-start; /* 👈 makes sure nothing centers vertically */
  justify-content: flex-start; /* 👈 disables horizontal centering if flex parent */
}