.documents-buttons-group {
  display: flexbox;
  justify-content: space-between;
  margin-top: 20px;
}

.documents-page-inputs {
  margin-top: 20px;
  display: flex;
  align-items: center;       
  justify-content: center;    
  gap: 25px;      
  margin-left: auto;         
  margin-right: auto;         
}

.primary-button {
  background-color: #31618d; 
  color: white;
}

.primary-button:hover {
  background-color: #0d3f81; 
  color: white;
}

.clear-button {
  background-color: #31618d; 
  color: white;
}

.clear-button:hover {
  background-color: #f07d7b; 
}

button {
  padding: 10px 20px;
  width: 200px;
  margin: 20px;
  font-size: 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}